h1,
h2,
h3,
h4,
h5 {
    color: #d4d4d4;
}

/* this is a comment in css */
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.container {
    max-width: 500px;
}

.hlist {
    align-items: center;
    display: flex;
    flex-flow: wrap;
}

.hlist > li {
    padding: 5px;
}

.swatch {
    font-weight: 700;
    height: 75px;
    padding: 5px;
    width: 75px;
}

.swatch-sm {
    height: 50px;
    width: 50px;
}
