li {
    list-style: none;
}

.hlist {
    display: flex;
}

.hlist > li + li {
    margin-left: 10px;
}

.swatch {
    height: 100px;
    margin-left: 10px;
    width: 100px;
}

.swatch-sm {
    height: 50px;
    width: 50px;
}
